streamlit
ultralytics
--extra-index-url https://download.pytorch.org/whl/cpu
YOLO
TIME-python
numpy
plotly
os-sys
pandas
python-math
pathlib
path
opencv-python-headless==4.9.0.80
opencv-python==0.0.0







